{% extends 'base.html' %}

{% block content %}
<h1>{{ question.title }}</h1>
<strong>
  {{ question.created_at }} | {{ question.updated_at }}
</strong>

<p>{{ question.content }}</p>

<div>
  <a href="{% url 'board:index' %}"><button>Back</button></a>
</div>

<div>
  <a href="{% url 'board:update' question.pk %}"><button>Edit</button></a>
</div>

<form action="{% url 'board:delete' question.pk %}" method="POST">
  {% csrf_token %}
  <button onclick="return confirm('삭제하시겠습니까?')">Delete</button>
</form>
{% endblock content %}
